@page
<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>
        Telefon: 0123456789
        </p>
        <i class="fa-solid fa-location-dot"></i>
        <p>
        Adres: Üsküdar/İstanbul
        </p>
        <i class="fa-solid fa-envelope"></i>
        <p>
            mailadresi@mail.com
        </p>
    </div>
</div>